doctype html

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="js/jquery-2.2.0.min.js")
    link(rel="stylesheet", href="css/main.css")
  
  body
    .container
      header.boxheader
        h3 Who's streaming?
      .wrapper
        .searchcont
          input(type="text" placeholder="Channel Name").searchbar
          .btn.btn--exact Exact Search
          .btn.btn--go Go!
        .buttoncont
          .c-btn.btn--all 
            p All
          .c-btn.btn--online 
            p Online
          .c-btn.btn--offline 
            p Offline
        .list
          

    script(src="js/main2.js")
